            <!-- Closing content tag (opened in _header) -->
            </div>
            <!-- Footer -->
            <div class="footer">
                <div class="copyright"> 
                    Copyright {global.year_created} {global.company_name} | All Right Reserved
                </div>
            </div>

            <!-- Closing wrapper tag (opened in _header)-->
        </div>
        <!-- Closing body (opened in _header)-->
    </body>
    <!-- Closing html (opened in _header)-->
</html>
